[DEFAULT]
log_dir=/opt/osnoise/log/
log_file_name=osnoise-1.log
# log_level should be one of the following: 
# debug/info/warning/error/critical
log_level=debug

[rabbit_conf]
# Full entries list can be found in nova.conf
rabbit_host = 10.193.71.60
rabbit_port = 5672
rabbit_userid = openstack
rabbit_password = admin

#rabbit_hosts = $rabbit_host:$rabbit_port
#rabbit_use_ssl = false
#rabbit_use_ssl = false
#rabbit_login_method = AMQPLAIN
#rabbit_virtual_host = /
#rabbit_retry_interval = 1
#rabbit_retry_backoff = 2
#heartbeat_timeout_threshold = 60
#heartbeat_rate = 2
#amqp_durable_queues = false
#amqp_auto_delete = false
#send_single_reply = false

[dummy_conf]
exchange_name = reply_4818b4dc5a2240f4ab9627a006a3b711
exchange_type = direct
routing_key = reply_4818b4dc5a2240f4ab9627a006a3b711
message_payload = {"oslo.message":"{\"_msg_id\":\"DUMMY_RESPONSE_MESSAGE\", \"_dummy_payload\":\"BlaBlaBla\"}", "oslo.version": "2.0"}
is_passive = false
is_durable = false
is_auto_delete = true
is_internal = false
priority=0
delivery_mode=2
message_type = application/json
message_encoding = utf-8
publish_rate = 10
duration = 15

[tsunami_conf]
# tsunami wave message count, used to test in how much time
# tsunami_message_count messages are published.
#tsunami_message_count = 10000
